.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-grey);
  padding: 1rem 0.5rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.icon:hover {
  color: var(--color-accent);
}

.filters {
  display: flex;
}

.filter {
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-accent);
  opacity: 0.8;
  margin: 0 0.3rem;
}

.filter:hover {
  cursor: pointer;
  opacity: 1;
}

.filter.selected {
  opacity: 1;
}

.filter.selected::after {
  content: '';
  display: block;
  margin-top: 0.2rem;
  border: 1px solid var(--color-text);
}
